<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bob Book Store</title>
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    
    

</head>
<body class="container">
    <header>
        <nav class=" navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand">

                <a class="navbar-brand" href="/">
                    <img src="~/images/jeremy-bishop-cEeEtjedNls-unsplash.jpg" width="30" height="30" />
                    Bob Book Store
                </a>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home/contactus">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/home/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/book/getallbooks">Books</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>



    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted text-center fixed-bottom">
        <div class="container">
            Copyright &copy; Bob Book Store @DateTime.Now.Year
        </div>

    </footer>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("homesctipt", required: false)
</body>



</html>


