
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book</title>
</head>

<body>
    <h1>Welcome to Book Page.</h1>
    <h1>@DateTime.Today</h1>
    
</body>
</html>
